<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ClienteContext"
			 connectionString="server=localhost;user id=root;password=esotilin;database=test_crud"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
